.collection .collection-item{
  display: flex;
  margin: 20px;
}
.collection .collection-item img{
  width: 100px;
  margin-right: 150px;
}
.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.box-detail{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap */
}
.card-home{
  width: 250px;
}
.card{
  width: 300px;
}
.margin{
  margin: 25px;
}